---

---

<figure class="my-6">
  <div class="flex w-full justify-center [&_*]:my-0">
    <slot name="figure" />
  </div>

  <figcaption class="mt-1 text-left [&_*]:my-0">
    <slot name="caption" />
  </figcaption>
</figure>
